<div class="container">
  <div *ngFor="let item of list; odd as odd"
       [class.is-active]="item.active"
       [class.is-odd]="odd">
    <app-list-item [item]="item"
                   (clickActive)="onChangeActive($event, item)"
                   (editItem)="editItem($event)"></app-list-item>
  </div>
</div>
<app-modify-list></app-modify-list>

<div class="container">
  <button (click)="editItem()">
    add new
  </button>
</div>
<form *ngIf="!!formGroup"
      [formGroup]="formGroup"
      (ngSubmit)="submitForm()">
  <div class="container">
    <div>
      <label for="name">Name:</label>
    </div>
    <div>
      <input type="text"
             name="name"
             id="name"
             formControlName="name">
    </div>
    <div>
      <label for="description">Description:</label>
    </div>
    <div>
      <input type="text"
             name="description"
             id="description"
             formControlName="description">
    </div>
    <div>
      <button type="submit">submit</button>
      <button type="submit" (click)="cancelForm()">cancel</button>
    </div>
  </div>
</form>
